body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #4656a0;
  color: white;
  font-family: 'Alegreya Sans', sans-serif;
}

.countdown-timer {
    font-size: 7vmin;
    text-align: center;
}

.countdown-timer__title {
    text-align: center;
}

.countdown-timer__time-unit {
    margin: 1vmin;
}

.countdown-timer__time-unit:after {
    margin-left: 15px;
}